[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyter = "*"
scipy = "*"
networkx = "*"
bibtexparser = "*"
jupyterlab = "*"
beakerx = "*"
matplotlib = "*"
requests = "*"

[requires]
python_version = "3.5"
